{% extends "base.html" %}

{% block title %}Admin Functions{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_user_panel.css') }}">
{% endblock %}

{% block container %}
<div class="container admin-container mt-5 mb-5">
    <h2 class="text-center mb-4">Manage Users</h2>
    <div class="row justify-content-center">
        {% for user in users %}
            {% if user.role != 'Admin' %}
            <div class="col-md-4 mb-4">
                <div class="card user-card text-center p-3 shadow-sm">
                   <img src="{{ url_for('static', filename=user.img) }}" alt="profile picture" class="small-profile-pic">
                    <h5 class="mb-1">{{ user.username }}</h5>
                    <p class="text-muted mb-1">{{ user.email }}</p>
                    <p class="text-secondary">Role: {{ user.role }}</p>
                    <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn btn-sm btn-danger">Delete User</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}