{% extends "base.html" %}

{% block container %}
<div class="book-detail-container">
  <div class="row align-items-start g-4">

    <div class="col-md-5 text-center">
      <img src="{{ url_for('static', filename=book.img) }}" alt="{{ book.name }}" class="book-image">
    </div>

    <div class="col-md-7">
      <h2 class="book-title">{{ book.name }}</h2>
      <p class="book-author"><strong>Author:</strong> {{ book.author }}</p>
      <p class="book-price"><strong>Price:</strong> ₾ {{ book.price }}</p>

      <div class="book-description">
        <strong>Description:</strong>
        <strong>{{ book.description }}</strong>
      </div>

      <div class="mt-4 d-flex gap-2">
        <form action="/add_to_cart/{{ book.id }}" method="POST">
          <button type="submit" class="btn-cart">Add to Cart</button>
        </form>
        <button class="btn-buy">Buy Now</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}
