{% extends "base.html" %}

{% block title %}
Register Page
{% endblock %}

{% block container %}
<div class="reg-container">
    <div class="reg-card">
        <h2 class="reg-title">Register</h2>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {% for errors in form.errors.values() %}
            <div class="reg-error-box">
                {% for error in errors %}
                    * {{ error }}<br>
                {% endfor %}
            </div>
            {% endfor %}

            <div class="reg-input-group">
                {{ form.profile_img.label(class="reg-label") }}
                {{ form.profile_img(class="reg-input", accept=".png, .jpeg, .jpg") }}
            </div>
            <div class="reg-input-group">
                {{ form.username.label(class="reg-label") }}
                {{ form.username(class="reg-input", placeholder=form.username.label.text) }}
            </div>
            <div class="reg-input-group">
                {{ form.password.label(class="reg-label") }}
                {{ form.password(class="reg-input", placeholder=form.password.label.text) }}
            </div>
            <div class="reg-input-group">
                {{ form.confirm_password.label(class="reg-label") }}
                {{ form.confirm_password(class="reg-input", placeholder=form.confirm_password.label.text) }}
            </div>
            <div class="reg-input-group">
                {{ form.birthday.label(class="reg-label") }}
                {{ form.birthday(class="reg-input") }}
            </div>
            <div class="reg-input-group">
                {{ form.gender.label(class="reg-label") }}
                {{ form.gender(class="reg-select") }}
            </div>
            <div class="reg-input-group">
                {{ form.country.label(class="reg-label") }}
                {{ form.country(class="reg-select") }}
            </div>
            <div class="reg-submit-wrap">
                {{ form.submit(class="reg-submit-btn") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

